﻿@model TeamBoard.Models.Kanban

<div id="kanban" class="kanban">
    @*<ul id="sortable">*@
    @foreach (var partition in Model.Partitions.OrderBy(p => p.Position))
    {
        <div class="kanban-column" id="@("column" + partition.Id)">
            <div class="kanban-column-header">
                <h3>
                    @partition.Header
                </h3>
                <i class="fa fa-close fa-lg kanban-column-close" id="@partition.Id"></i>
            </div>
            <div class="btn btn-default subpartition-add-btn">Add subdivision</div>
            @if (partition.Subpartitions.Count != 0)
            {
                foreach (var subpartition in partition.Subpartitions.OrderBy(sp => sp.Position))
                {
                    <div class="subpartition">
                        @if (partition.Subpartitions.Count > 1)
                        {
                            <div class="subpartition-header">
                                <h4>@subpartition.Header</h4>
                                <i class="fa fa-remove subpartition-remove-btn"></i>
                            </div>
                        }

                        @foreach (var sticker in subpartition.Stickers.OrderBy(s => s.Position))
                        {
                            <div class="sticker">
                                @if (sticker.Label != null)
                                {
                                    string style = "btn sticker-label " + sticker.Label.Style;
                                    <div class="@(style)"></div>
                                }
                                <h4>@sticker.Header</h4>

                                @*<div>
                                       @sticker.Description
                                    </div>*@
                            </div>
                        }

                        <input type="hidden" class="subpartition-id" value="@subpartition.Id" />

                        <div class="sticker-add-btn">
                            <div class="btn btn-default">
                                <i class="fa fa-plus"></i>
                                Add sticker
                            </div>
                        </div>
                    </div>

                }


            }
            <input type="hidden" value="@partition.Id" class="partition-id" />
        </div>
    }
    @*</ul>*@

    <div class="btn btn-primary kanban-add-btn" id="addColumnButton">
        Add division
    </div>

    <input type="hidden" id="id" value=@Model.Id />
</div>

<div id="stickerInfo">
    <input type="hidden" id="stickerId" />
    <h3 id="stickerInfoHeader"></h3>

    <div id="infoMain">
        <p id="stickerInfoDescription"></p>
        <div class="btn btn-default" id="stickerInfoEditBtn">
            Edit description
        </div>
        <div>
            <div>Executors:</div>
            <div id="executors"></div>
        </div>
    </div>
    <div id="infoActions">
        <ul class="nav nav-stacked">
            <li class="btn btn-danger" id="deleteBtn">
                <i class="fa fa-trash"></i>
                Remove
            </li>
            <li class="btn btn-success" id="executeBtn">
                <i class="fa fa-check"></i>
                <span>Executing</span>

            </li>

        </ul>
        <div>
            <ul class="nav nav-stacked" id="labels">

            </ul>
        </div>
    </div>

</div>


