﻿@{
    ViewBag.Title = "Access Denied";
}

<h2>Access denied</h2>

<div class="alert">
    <a href="#" class="close" data-dismiss="alert alert-error">
        &times;
    </a>
    <strong>Sorry!</strong> You have no permission to this conference!
</div>

@if (ViewBag.Conferences.Count > 0)
{
    <div>
        Try something of this:
        <ul>
            @foreach (var conference in ViewBag.Conferences)
            {
                <li>
                    @Html.Action("ShowConference", "Conference", new { id = conference })
                </li>
            }
        </ul>
    </div>
}