﻿@using TeamBoard.Models;
@using DateTimeExtensions;

@{
    var conference = (Conference)ViewBag.Conference;
    var messages = conference.Messages.OrderByDescending(m => m.Time).Take(25);
    var participants = ViewBag.Participants;

    string stateRead = "direct-chat-msg";
    string stateUnread = "direct-chat-msg unread";

    string classActive = "active";

    int lastId = (messages.Count() > 0 ? messages.Last().Id : -1);

    ViewBag.Title = conference.Title;
}


<div id="conferencesList" style="position:fixed">
    <ul class="nav nav-pills nav-stacked nav-tabs-custom" id="listBeginning">

        @foreach (var chatObj in ViewBag.ChatList)
        {
            var chat = (chatObj as ConferenceViewModel);
            string currentTitle = chat.Title;
            int currentId = chat.Id;
            <li role="presentation" class="@(conference.Id == chat.Id ? classActive : string.Empty)" id="@(chat.Id + "chat")">
                <a href="/Conference/ShowConference?id=@chat.Id">@chat.Title<span class="badge">@(conference.Id != chat.Id ? @chat.Messages : 0)</span> </a>
            </li>
        }
    </ul>
    <small>
        @Html.ActionLink("Edit conference", "EditConference", new { conferenceId = conference.Id }, new { @class = "btn btn-primary btn-xs" })
    </small>
</div>
<div class="col-md-2"></div>
<div class="col-md-10">
    <h2>
        @conference.Title
    </h2>
    @* Данные скрытые поля содержат информацию о текущем пользователе, подключенном к чату. *@
    <input id="hdId" type="hidden" value="@ViewBag.ConnectedUser.Id" />
    <input id="username" type="hidden" value="@ViewBag.ConnectedUser.UserName" />
    <input id="realName" type="hidden" value="@ViewBag.ConnectedUser.Name" />
    <input id="conferenceId" type="hidden" value="@ViewBag.Conference.Id" />
    <input id="oldestMessage" type="hidden" value="@lastId" />
    <div class="box">
        @* В этом блоке будет храниться список пользователей. *@
        <div id="chatusers" class="hidden">

        </div>

        <div class="box-body" id="chatbody">
            @foreach (var message in messages.OrderBy(x => x.Time))
            {
                string classOfMessage = "";
                string stateClass = stateRead;
                if (message.Time > ViewBag.LastVisit)
                {
                    stateClass = stateUnread;
                }
                if (message.User.UserName == User.Identity.Name)
                {
                    classOfMessage = "direct-chat-info clearfix my-msg";
                }
                else
                {
                    classOfMessage = "direct-chat-info clearfix";
                }

                <div class="@stateClass">
                    <div class="@classOfMessage">
                        <span class="direct-chat-name pull-left">@message.User.Name</span>
                        @{
                            if (message.Time != null)
                            {
                                var date = Convert.ToDateTime(message.Time);
                                if (date.Date < DateTime.Now.Date)
                                {
                                    <span class="direct-chat-timestamp pull-right">@date.Date</span>
                                }
                                else
                                {

                                    <span class="direct-chat-timestamp pull-right">@date.Format()</span>
                                }
                            }
                        }
                    </div><!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="@message.User.Userpic.Image" alt="@message.User.Name"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        @message.Text
                    </div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->
                            }
        </div>
    </div>
    <div style="height:50px"></div>





    @* Текстбокс и кнопка для отправки сообщения. *@
    <div class="box-footer" style="position:fixed;bottom:0px;margin-top:50px;margin-bottom:10px;height:50px;width:920px">
        <div class="input-group">
            <input type="text" id="message" placeholder="Type Message ..." class="form-control" autocomplete="off">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-flat" id="sendmessage">Send</button>
            </span>
        </div>
    </div>
</div>
@*<div class="panel panel-default" style="position:fixed;bottom:0px;margin-top:50px;margin-bottom:0px;height:50px">
        <div class="panel-body">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" class="btn btn-primary" value="Send" />
        </div>
    </div>*@

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Custom Scripts/conference.js"></script>
}
