﻿@{
    ViewBag.Title = "Login Failure";
}


<h2>@ViewBag.Title.</h2>
<div class="box">
    <div class="box-body">
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </div>
</div>