﻿@model TeamBoard.Models.RegisterViewModel
@using TeamBoard.Models
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_ClearPageLayout.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("Index", "Home")"><b>Team</b>Board</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            <p class="login-box-msg">
                Create a new account
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </p>
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Login" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Retype password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @{
                    SelectList l = new SelectList(new Sex[] { Sex.None, Sex.Female, Sex.Male });
                }
                @Html.DropDownListFor(m => m.Sex, l, new { @class = "form-control" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Full name" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div><!-- /.col -->
            </div>
        }

        <div class="social-auth-links text-center">
            <p>- OR -</p>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-link" })
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div><!-- /.social-auth-links -->

        @*<a href="#">I forgot my password</a>*@
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
