﻿@model TeamBoard.Models.ChangePasswordViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Change Password";
}
<h2>@ViewBag.Title</h2>
<div class="box">
    <div class="box-body">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change password</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">
                    @Html.ActionLink("Back to profile", "ShowProfile", "Manage", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage", @class = "btn btn-default" })
                </div>
                <div class="col-md-10">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>