﻿@model TeamBoard.Models.EditViewModel
@using TeamBoard.Models

@{
    ViewBag.Title = "ShowProfile";
    List<string> countries = new List<string>();
    foreach (Country c in ViewBag.Countries)
    {
        countries.Add(c.Word);
    }
    SelectList countriesList = new SelectList(countries);
    ApplicationUser currentUser = ViewBag.CurrentUser;
}

<div class="col-md-12">
    <h2>
        @Model.Name
        <small>(@Model.UserName)</small>
    </h2>
</div>
<div class="col-md-4">
    <div class="box">
        <div class="box-body">
            <h4>Profile Detail</h4>
            <hr />
            <img src="@Model.Image" width="100%" />
        </div>
    </div>
    @if (User.Identity.Name == Model.UserName)
    {
    <div class="box">
        <div class="box-body">
            <h4>@Html.ActionLink("Change your password", "ChangePassword")</h4>
        </div>
    </div>
    }
</div>
@if (currentUser.Id == Model.Id)
{
<div class="col-md-8">
    <div class="box">
        <div class="box-body">
            <div>
                <h4>Update profile information</h4>
                <hr />
                @using (Html.BeginForm("Edit", "Manage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Login</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.Birthday != null)
                                {
                                    <input type="date" class="form-control" value="@Model.Birthday.Value.ToString("yyyy-MM-dd")" min="1920-01-01" max="@DateTime.Now.ToString("yyyy-mm-dd")" name="Birthday" />
                                }
                                else
                                {
                                    <input type="date" class="form-control" min="1920-01-01" max="@DateTime.Now.ToString("yyyy-mm-dd")" name="Birthday" />
                                }
                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.Sex, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Country, countriesList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Avatar</label>
                            <div class="col-md-10">
                                <div class="file_upload btn btn-default">
                                    Choose file<input type="file" name="upload" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
}
else
{
    <div class="col-md-8">
        <div class="box">
            <div class="box-body">
                <div>
                    <h4>Profile information</h4>
                    <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Name)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Login</label>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.UserName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Birthday)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Sex)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Country)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.City)
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
}
@*@if (User.Identity.Name == Model.UserName)
            {
    @Html.ActionLink("Edit", "Edit", "Manage", new { id = Model.Id }, null)
}*@