﻿@model TeamBoard.Models.Bug
@using TeamBoard.Models
<div>
    <h3>
        @Model.Name
        <small>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-xs" })
        </small>
    </h3>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        @if (Model.State == BugState.Open || Model.State == BugState.Confirming)
        {
            <dt>
                @Html.DisplayName("Bug fixers:")
            </dt>
            foreach (BugFixer bugFixer in Model.BugFixers)
            {
                <dd>
                    @bugFixer.User.Name
                </dd>
            }
        }

        @if (Model.BugFixers.Any(x => x.BugFixes.Any()))
        {
            <dt>
                @Html.DisplayName("Bug fixes:")
            </dt>

            foreach (BugFixer bugFixer in Model.BugFixers)
            {
                foreach (BugFix bugFix in bugFixer.BugFixes)
                {
                    <dd>
                        <b>Author:</b>@bugFixer.User.Name
                    </dd>
                    <dd>
                        <b>Description:</b>@bugFix.Description
                        <br />
                    </dd>

                }
            }
        }
    </dl>
    @* Проверка на то, является ли данный пользователь тестировщиком. *@
    @if (Model.State == BugState.NeedsConfirmation &&
        Model.Bugtracker.Project.Participations.Any(participation => 
            participation.User.UserName == User.Identity.Name &&
            participation.IsQA))
    {
        <table>
            <tr>
                <td>
                    @using (Ajax.BeginForm("AddBugFixers", "Bugs", new { bugId = Model.Id }, new AjaxOptions() { UpdateTargetId = "BugFixers" }, null))
                    {
                        <button class="btn btn-danger" style="margin-right: 7px" name="submit" id="submit">Open</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("MakeClosedBug", "Bugs", new { bugId = Model.Id }, FormMethod.Post, null))
                    {
                        <button class="btn btn-success" name="submit" id="submit">Close</button>
                    }
                </td>
            </tr>
        </table>
        <div id="BugFixers">

        </div>
    }
    else if (Model.State == BugState.Open && Model.BugFixers.Any(bugFixer => bugFixer.User.UserName == User.Identity.Name))
    {
        using (Ajax.BeginForm("CreateTextAreaForFix", "Bugs", new { bugId = Model.Id }, new AjaxOptions() { UpdateTargetId = "bugFix" }, null))
        {
            <button class="btn btn-default" name="submit" id="submit">Add fix</button>
        }
        <div id="bugFix">

        </div>
    }
    else if (Model.State == BugState.Confirming)
    {
        @* Проверка на то, является ли данный пользователь тестировщиком. *@
        if (Model.Bugtracker.Project.Participations.Any(participation =>
            participation.User.UserName == User.Identity.Name &&
            participation.IsQA))
        {
            <table>
                <tr>
                    <td>
                        @using (Html.BeginForm("MakeOpenBug", "Bugs", new { bugId = Model.Id }, FormMethod.Post, null))
                        {
                            <button class="btn btn-danger" style="margin-right: 7px" name="submit" id="submit">Open</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("MakeClosedBug", "Bugs", new { bugId = Model.Id }, FormMethod.Post, null))
                        {
                            <button class="btn btn-success" name="submit" id="submit">Close</button>
                        }
                    </td>
                </tr>
            </table>
            <br />
        }

        if (Model.BugFixers.Any(bugFixer => bugFixer.User.UserName == User.Identity.Name))
        {
            using (Ajax.BeginForm("CreateTextAreaForFix", "Bugs", new { bugId = Model.Id }, new AjaxOptions() { UpdateTargetId = "bugFix" }, null))
            {
                <button class="btn btn-default" name="submit" id="submit">Add fix</button>
            }
            <div id="bugFix">

            </div>
        }
    }
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }
