﻿@model TeamBoard.Models.Bugtracker
@using TeamBoard.Models
@{
    ViewBag.Title = "Bugtracker";
    var needConfirmationBugs = Model.Bugs.Where(b => b.State == BugState.NeedsConfirmation).ToList();
    var openBugs = Model.Bugs.Where(b => b.State == BugState.Open).ToList();
    var confirmingBugs = Model.Bugs.Where(b => b.State == BugState.Confirming).ToList();
    var closedBugs = Model.Bugs.Where(b => b.State == BugState.Closed).ToList();

    List<ApplicationUser> addedTesters = ViewBag.AddedTesters;
    ViewDataDictionary dictionary = new ViewDataDictionary();
    dictionary.Add("AddedTesters", addedTesters);
    dictionary.Add("PossibleTesters", new List<ApplicationUser>());
    dictionary.Add("projectId", Model.Project.Id);
}
@if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Project.Author.UserName)
{
<div class="col-md-12">
    <h2>
        Bugtracker
        <span>
            <small>
                @Html.ActionLink("Add bug report", "Create", "Bugs", new { bugTrackerId = Model.Id }, new { @class = "btn btn-primary btn-xs" })
            </small>
        </span>
    </h2>
</div>

    <div class="col-md-8">
        <div class="box">
            <div class="box-body">
                <h4>@Model.Project.Name</h4>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <h4>Need confirmation</h4>
                            <hr />
                            @if (needConfirmationBugs.Count > 0)
                            {
                                foreach (Bug bug in needConfirmationBugs)
                                {
                                    using (Ajax.BeginForm("Details", "Bugs", new { id = bug.Id }, new AjaxOptions() { UpdateTargetId = "bug" }, null))
                                    {
                                        <button class="btn btn-link" id="submit" name="submit">@bug.Name</button>
                                    }
                                }
                            }
                        </td>
                        <td class="text-danger">
                            <h4>Open</h4>
                            <hr />
                            @if (openBugs.Count > 0)
                            {
                                <table>
                                    @foreach (Bug bug in openBugs)
                                    {
                                        <tr>
                                            <td>
                                                @using (Ajax.BeginForm("Details", "Bugs", new { id = bug.Id }, new AjaxOptions() { UpdateTargetId = "bug" }, null))
                                                {
                                                    <button class="btn btn-link" id="submit" name="submit">@bug.Name</button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </td>
                        <td class="text-primary">
                            <h4>Confirming</h4>
                            <hr />
                            @if (confirmingBugs.Count > 0)
                            {
                                <table>
                                    @foreach (Bug bug in confirmingBugs)
                                    {
                                        <tr>
                                            <td>
                                                @using (Ajax.BeginForm("Details", "Bugs", new { id = bug.Id }, new AjaxOptions() { UpdateTargetId = "bug" }, null))
                                                {
                                                    <button class="btn btn-link" id="submit" name="submit">@bug.Name</button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </td>
                        <td class="text-success">
                            <h4>Closed</h4>
                            <hr />
                            @if (closedBugs.Count > 0)
                            {
                                <table>
                                    @foreach (Bug bug in closedBugs)
                                    {
                                        <tr>
                                            <td>
                                                @using (Ajax.BeginForm("Details", "Bugs", new { id = bug.Id }, new AjaxOptions() { UpdateTargetId = "bug" }, null))
                                                {
                                                    <button class="btn btn-link" id="submit" name="submit">@bug.Name</button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </td>
                    </tr>
                </table>
                <div id="bug">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-body">
                <div id="QA">
                    @* Добавление тестировщиков к проекту. *@
                    @Html.Partial("AddTestersPartial", dictionary)
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-12">
        <h2>
            Bugtracker
            @if (User.Identity.IsAuthenticated)
            {
            <span>
                <small>
                    @Html.ActionLink("Add bug report", "Create", "Bugs", new { bugTrackerId = Model.Id }, new { @class = "btn btn-primary btn-xs" })
                </small>
            </span>
            }
        </h2>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="box">
                <div class="box-body">
                    <h4>@Model.Project.Name</h4>
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <h4>Need confirmation</h4>
                                <hr />
                                @if (needConfirmationBugs.Count > 0)
                                {
                                    foreach (Bug bug in needConfirmationBugs)
                                    {
                                        using (Ajax.BeginForm("Details", "Bugs", new { id = bug.Id }, new AjaxOptions() { UpdateTargetId = "bug" }, null))
                                        {
                                            <button class="btn btn-link" id="submit" name="submit">@bug.Name</button>
                                        }
                                    }
                                }
                            </td>
                            <td class="text-danger">
                                <h4>Open</h4>
                                <hr />
                                @if (openBugs.Count > 0)
                                {
                                    <table>
                                        @foreach (Bug bug in openBugs)
                                        {
                                            <tr>
                                                <td>
                                                    @using (Ajax.BeginForm("Details", "Bugs", new { id = bug.Id }, new AjaxOptions() { UpdateTargetId = "bug" }, null))
                                                    {
                                                        <button class="btn btn-link" id="submit" name="submit">@bug.Name</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </td>
                            <td class="text-primary">
                                <h4>Confirming</h4>
                                <hr />
                                @if (confirmingBugs.Count > 0)
                                {
                                    <table>
                                        @foreach (Bug bug in confirmingBugs)
                                        {
                                            <tr>
                                                <td>
                                                    @using (Ajax.BeginForm("Details", "Bugs", new { id = bug.Id }, new AjaxOptions() { UpdateTargetId = "bug" }, null))
                                                    {
                                                        <button class="btn btn-link" id="submit" name="submit">@bug.Name</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </td>
                            <td class="text-success">
                                <h4>Closed</h4>
                                <hr />
                                @if (closedBugs.Count > 0)
                                {
                                    <table>
                                        @foreach (Bug bug in closedBugs)
                                        {
                                            <tr>
                                                <td>
                                                    @using (Ajax.BeginForm("Details", "Bugs", new { id = bug.Id }, new AjaxOptions() { UpdateTargetId = "bug" }, null))
                                                    {
                                                        <button class="btn btn-link" id="submit" name="submit">@bug.Name</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </td>
                        </tr>
                    </table>
                    <div id="bug">

                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

