﻿@{
    ViewBag.Title = "Main_page";
    Layout = null;
}
@model TeamBoard.Models.RegisterViewModel
@using TeamBoard.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if ((string)ViewBag.Title != "Main_page")
    {
        <title>@ViewBag.Title - TeamBoard</title>
    }
    else
    {
        <title>TeamBoard</title>
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui")
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="/Pictures/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TEAMBOARD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Conferences", "ShowConference", "Conference")</li>
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>*@
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1>Making development easier</h1>
                            <p>Flexible way to manage your projects</p>
                        </div>
                    </div>
                    <div class="header-back one"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1>Advanced tools for<br /> your team</h1>
                        </div>
                    </div>
                    <div class="header-back two"></div>
                </div>
            </div>
            <div id="startchange"></div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        
        <div class="register-container" id="register">
            @if (!Request.IsAuthenticated)
            {
                <div class="row">
                    <div class="register-pic"></div>
                    <div class="col-md-6"></div>
                    <div class="register col-md-4">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            <h2>Register to <span class="red"><strong>TeamBoard</strong></span></h2>
                            @Html.AntiForgeryToken()
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Login" })
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                            </div>
                            <div class="form-group has-feedback">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Retype password" })
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                @{
                                    SelectList l = new SelectList(new Sex[] { Sex.None, Sex.Female, Sex.Male });
                                }
                                @Html.DropDownListFor(m => m.Sex, l, new { @class = "form-control" })
                            </div>
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Full name" })
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                                </div><!-- /.col -->
                            </div>
                        }
                    </div>
                </div>
                }
        </div>
    </div>
    <footer class="footer-distributed">
        <div class="footer-right">
            @*<a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>*@
        </div>
        <div class="footer-left">
            <p class="footer-links">
                @Html.ActionLink("Home", "Index", "Home")
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Projects", "Index", "Projects")
                }
                ·
                @Html.ActionLink("About", "About", "Home")
                ·
                @Html.ActionLink("Contacts", "Contact", "Home")
            </p>
            <p>TeamBoard &copy; 2015</p>
        </div>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*Don't remove this script block.*@
    <script type="text/javascript">
        $(document).ready(function () {
            var scroll_start = 0;
            var startchange = $('#startchange');
            var offset = startchange.offset();
            if (scroll_start < offset.top) {
                $(".navbar").removeClass("navbar-scroll");
            }
            if (startchange.length) {
                $(document).scroll(function () {
                    scroll_start = $(this).scrollTop();
                    if (scroll_start > offset.top - 340) {
                        $(".navbar").addClass("navbar-scroll");
                    } else {
                        $(".navbar").removeClass("navbar-scroll");
                    }
                });
            }
        });
    </script>
    @*@RenderSection("scripts", required: false)*@
</body>
</html>

