﻿@model IEnumerable<TeamBoard.Models.Project>

@{
    ViewBag.Title = "Projects";
}
<h2>
Your projects
@if (User.Identity.IsAuthenticated)
            {
    <span>
        <small>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
        </small>
    </span>
}
</h2>
<div class="box">
    <div class="box-body">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <h3>@Html.ActionLink(item.Name, "Details", new { id = item.Id })
                    <small>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                    </small>
                    <span class="pull-right">
                        <small>
                            @item.Date
                        </small>
                    </span>
                </h3>
                <p>
                    @item.Description
                </p>
                <p>
                    By @item.Author.Name
                    <span class="pull-right">
                        @Html.ActionLink("Go to bugtracker", "ShowBugtracker", "Bugs", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("Go to project", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    </span>
                </p>
                <hr />
            }
        }
        else
        {
            <h2>
                Ooops! There are no projects yet :( &nbsp;&nbsp;@Html.ActionLink("Create?", "Create", null, null)
            </h2>
        }
    </div>
</div>