﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if ((string)ViewBag.Title != "Main_page")
    {
        <title>@ViewBag.Title - TeamBoard</title>
    }
    else
    {
        <title>TeamBoard</title>
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="/Pictures/favicon.ico" type="image/x-icon">
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

