﻿@using TeamBoard.Models
@{
    List<ApplicationUser> addedUsers = (List<ApplicationUser>)ViewData["AddedUsers"];
    List<ApplicationUser> possibleUsers = (List<ApplicationUser>)ViewData["AddedUsers"];
    int projectId = (int)ViewData["projectId"];
    string title = (string)ViewData["Title"];

    ViewDataDictionary dictionary = new ViewDataDictionary();
    dictionary.Add("AddedUsers", addedUsers);
    dictionary.Add("PossibleUsers", possibleUsers);
    dictionary.Add("projectId", projectId);
}

<div id="Participants">
    <div id="ChatParticipants">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <table class="list-group">
                @foreach (ApplicationUser user in addedUsers)
            {
                    <tr>
                        <td>
                            <div>@user.UserName (@user.Name)</div>
                        </td>
                        <td>
                            @using (Ajax.BeginForm("RemoveParticipant", "Conference", null, new AjaxOptions { UpdateTargetId = "Participants" }, null))
                            {
                                foreach (ApplicationUser u in addedUsers)
                                {
                                    <input type="hidden" name="addedUsers" value="@u.Id" />
                                }

                                <input id="userId" name="userId" value="@user.Id" type="hidden" />
                                <input id="projectId" name="projectId" value="@projectId" type="hidden" />
                                <input type="hidden" name="title" id="title4" value="@title" />
                                <button class="btn btn-link" name="submit" id="submit"><span class="glyphicon glyphicon-remove"></span></button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>


    @using (Ajax.BeginForm("ShowPossibleParticipants", "Conference", null, new AjaxOptions { UpdateTargetId = "possibleUsers" }, null))
    {
        foreach (ApplicationUser user in addedUsers)
        {
            <input type="hidden" name="addedUsers" value="@user.Id" onload="Create(@user.Id)" />
        }

        <input name="projectId" value="@projectId" type="hidden" />
        <div class="form-horizontal">
            <div id="Chattings" class="form-group">
                @Html.Label("Participants", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input name="inputedName" style="float:left" placeholder="Start typing name" autocomplete="off" class="form-control" oninput="ParticipantInput()" />
                </div>
            </div>
        </div>
        <button style="visibility:hidden; float:left" type="submit" class="btn btn-default" id="ListButton"></button>
    }
    <div id="possibleUsers" class="col-md-offset-2 col-md-10">

    </div>

    <div>
        @using (Ajax.BeginForm("AddParticipant", "Conference", new AjaxOptions { UpdateTargetId = "Participants" }))
        {
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @foreach (ApplicationUser user in addedUsers)
                {
                    <input type="hidden" name="addedUsers" value="@user.Id" />
                }

                <input id="newParticipant" name="newParticipant" type="hidden" />
                <input id="projectId" name="projectId" value="@projectId" type="hidden" />
                <input type="hidden" name="title" id="title3" value="@title" />
                <button class="btn btn-default" style="visibility:hidden" name="submit" id="AddButton">Add</button>
            </div>
        }
    </div>

    @using (Html.BeginForm("AddConference", "Conference", FormMethod.Post, null))
    {
        <input type="hidden" name="Title" id="title2" value="@title" />
        <input type="hidden" name="ProjectId" value="@projectId" />

        <div id="added_participants">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @foreach (ApplicationUser user in addedUsers)
                {
                    <input type="hidden" name="participant" value="@user.Id" />
                }
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.ActionLink("Back to list", "ShowConference", null, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

