﻿@using TeamBoard.Models
@{
    List<ApplicationUser> addedTesters = (List<ApplicationUser>)ViewData["AddedTesters"];
    int projectId = (int)ViewData["projectId"];

    ViewDataDictionary dictionary = new ViewDataDictionary();
    dictionary.Add("AddedUsers", addedTesters);
}

<div id="addedTesters">
    <table class="list-group">
        @foreach (ApplicationUser user in addedTesters)
        {
            <tr>
                <td>
                    <div>@user.UserName (@user.Name)</div>
                </td>
                <td>
                    @using (Ajax.BeginForm("RemoveTester", "Projects", new AjaxOptions { UpdateTargetId = "addedTesters" }))
                    {
                        <input id="userId" name="userId" value="@user.Id" type="hidden" />
                        <input id="projectId" name="projectId" value="@projectId" type="hidden" />
                        <button class="btn btn-link" name="submit" id="submit"><span class="glyphicon glyphicon-remove"></span></button>
                    }
                </td>
            </tr>
        }
    </table>
</div>
