﻿@using TeamBoard.Models
@{
    List<ApplicationUser> addedTesters = (List<ApplicationUser>)ViewData["AddedTesters"];
    List<ApplicationUser> possibleTesters = (List<ApplicationUser>)ViewData["AddedTesters"];
    int projectId = (int)ViewData["projectId"];

    ViewDataDictionary dictionary = new ViewDataDictionary();
    dictionary.Add("AddedTesters", addedTesters);
    dictionary.Add("PossibleTesters", possibleTesters);
    dictionary.Add("projectId", projectId);
}

<h4>Add testers to the project:</h4>

@Html.Partial("AddedTestersList", dictionary)
<div>
    @using (Ajax.BeginForm("AddTester", "Projects", new AjaxOptions { UpdateTargetId = "QA" }))
    {
        <input id="inputedTesterName" style="float:left" placeholder="Start typing name" name="inputedTesterName" autocomplete="off" class="form-control" oninput="TesterInput()" />
        <input id="projectId" name="projectId" value="@projectId" type="hidden" />
        <button class="btn btn-default" style="visibility:hidden" name="submit" id="TesterAddButton">Add</button>
    }
</div>
<div id="possibleTesters">

</div>
@using (Ajax.BeginForm("CreateTestersList", "Projects", new AjaxOptions { UpdateTargetId = "possibleTesters" }))
{
    <input name="inputedTesterText" id="inputedTesterText" type="hidden" />
    <input id="projectId" name="projectId" value="@projectId" type="hidden" />
    <button style="visibility:hidden" type="submit" class="btn btn-default" name="submit" id="TesterListButton"></button>
}

<script>
    function TesterInput() {
        document.getElementById("inputedTesterText").value = document.getElementById("inputedTesterName").value;
        document.getElementById("TesterListButton").click();
    }

    function AddTester(name) {
        document.getElementById("inputedTesterName").value = name;
        document.getElementById("TesterAddButton").click();
    }

    function ChangeClass(id) {
        if (document.getElementById(id).className == "list-group-item")
            document.getElementById(id).className = "list-group-item active";
        else if (document.getElementById(id).className == "list-group-item active")
            document.getElementById(id).className = "list-group-item";
    }
</script>



