﻿@using TeamBoard.Models;
@using DateTimeExtensions;

@{
    var conference = (Conference)ViewBag.Conference;
    var messages = conference.Messages.OrderByDescending(m => m.Time).Take(25);
    var participants = ViewBag.Participants;

    string stateRead = "direct-chat-msg";
    string stateUnread = "direct-chat-msg unread";

    int lastId = (messages.Count() > 0 ? messages.Last().Id : -1);

    ViewBag.Title = conference.Title;
}

<div style="height:50px"></div>
<div class="panel panel-default">
    <div class="btn btn-link btn-lg btn-block" onclick='document.getElementById("openList").click()'><span><i class="fa fa-arrow-circle-left"></i> @conference.Title</span></div>
</div>
@* Данные скрытые поля содержат информацию о текущем пользователе, подключенном к чату. *@
<input id="hdId" type="hidden" value="@ViewBag.ConnectedUser.Id" />
<input id="username" type="hidden" value="@ViewBag.ConnectedUser.UserName" />
<input id="realName" type="hidden" value="@ViewBag.ConnectedUser.Name" />
<input id="conferenceId" type="hidden" value="@ViewBag.Conference.Id" />
<input id="oldestMessage" type="hidden" value="@lastId" />

@* В этом блоке будет храниться список пользователей. *@
<div id="chatusers" class="hidden">

</div>
<div class="box-body" id="chatbody" onload="onChatReady()">
    <button type="button" id="loadMoreButton" class="btn btn-primary btn-lg btn-block" onclick='document.getElementById("openList").click()'>Load more...</button>
    <div id="chatInnerBody">
        @foreach (var message in messages.OrderBy(x => x.Time))
        {
            string classOfMessage = "";
            string stateClass = stateRead;
            if (message.Time > ViewBag.LastVisit)
            {
                stateClass = stateUnread;
            }
            if (message.User.UserName == User.Identity.Name)
            {
                classOfMessage = "direct-chat-info clearfix my-msg";
            }
            else
            {
                classOfMessage = "direct-chat-info clearfix";
            }

            <div class="@stateClass">
                <div class="@classOfMessage">
                    <span class="direct-chat-name pull-left">@message.User.Name</span>
                    @{
            if (message.Time != null)
            {
                var date = Convert.ToDateTime(message.Time);
                if (date.Date < DateTime.Now.Date)
                {
                    <span class="direct-chat-timestamp pull-right">@date.Date</span>
                }
                else
                {

                    <span class="direct-chat-timestamp pull-right">@date.Format()</span>
                }
            }
                    }
                </div>
                <img class="direct-chat-img" src="@message.User.Userpic.Image" alt="@message.User.Name">
                <div class="direct-chat-text">
                    @message.Text
                </div>
            </div>
        }
    </div>
</div>
<div style="height:50px"></div>

@using (Ajax.BeginForm("ShowList", "Conference", new { id = ViewBag.ProjectId }, new AjaxOptions { UpdateTargetId = "conferences-sidebar" }, new { style = "visibility:hidden", @class = "hidden" }))
{
    <button class="hidden" name="submit" id="openList">Open tab</button>
}


@* Текстбокс и кнопка для отправки сообщения. *@
<div class="box-footer" style="position:fixed;bottom:0px;margin-top:50px;margin-bottom:0px;height:50px">
    <div class="input-group">
        <input type="text" id="message" placeholder="Type Message ..." class="form-control" autocomplete="off">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-flat" id="sendmessage">Send</button>
        </span>
    </div>
</div>

<script src="~/Scripts/Custom Scripts/conference-minimized.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Custom Scripts/conference-minimized.js"></script>
}
